#header img{
    width: 90px;
}

.arduino{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 8px;
    -webkit-text-stroke: #212529 0.5px;
}

.text-univalle{
color: #AF1D5B !important;
}

#main .carousel-inner img{
    max-height: 70vh;
    filter: grayscale(70%);
}

#carousel{
position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    z-index: 1;
}

#carousel .overlay .container, #carousel .overlay .row{
height: 100%;
}

.text-main{
font-size: 30px;
color: #ffffff;
-webkit-text-stroke: #212529 0.5px;
}
.btn-canjeo{

   background-color: #AF1D5B;
   color: white;
}

.btn-canjeo:hover{
background-color: #7c1d44;
color: white;
}

.img-prof{
height: 400px;
}
#place-time{
background-color: #212529;
color: white;
}

#place-time img{
max-width: 100%;
}

.form-row{
display: flex;

}

.btn-enviar{
width: 100%;
padding: 10px;
}
#footer{
    background: linear-gradient(41deg, rgba(163,21,38,1) 30%, rgba(210,65,111,1) 97%);
}

#footer a{
 color: white;
}